/******************************/
/* GENERAL REUSABLE COMPONETNTS*/
/*****************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /*
  margin-bottom: 9.6rem;*/
}
.grid:last-child {
  margin-bottom: 0;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  line-height: 1.05;
}
.heading-primary {
  font-size: 5.2rem;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  letter-spacing: 0.75px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* PUT ON ORIGINAL STATE*/
  transition: background-color 0.3s;
  font-weight: 600;
  cursor: pointer;
  border: none;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn-outline {
  background-color: #fff;
  color: #555;
}
.btn-outline:active,
.btn-outline:hover {
  background-color: #fdf2e9;
  /*trick
  because using border, there is chamge in thwe other element*/
  box-shadow: inset 0px 0px 0px 3px #fff;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #333;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding: 2px;
}
.link:hover,
.link:active {
  color: #e67e22;
  border-bottom: 1px solid transparent;
}
.center-text {
  text-align: center;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  line-height: 1.8;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
